@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: initial;
  background: #0c0c0c;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}


.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.no-grayscale {
  filter: none;
  -webkit-filter: none;
  transition: filter 0.3s ease-in-out;
}

.gallery {
  width: 100%;
  min-height: 100vh;
  background: #0c0c0c;
  position: relative;
  overflow-x: auto;
  display: flex;
  color: rgb(245, 245, 245);
  padding: 10vh 2vw;
}

.sliderContainer {

  width: 80%;
  height: 90%;
  background: #0c0c0c;
  position: relative;

  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  flex-grow: 1;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
}

.card {
  width: 600px;

  height: 100%;
  background: #0c0c0c;
  margin: 0 15px;
}

.slider img {
  width: 100%;
  height: 99%;
  object-fit: cover;

}


/************************/

.sidePart {
  width: 300px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(150, 0, 0);
}

.menu {
  margin: 0 auto;
  text-align: right;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 60px;
}

h2:hover {
  color: rgb(115, 0, 0);
  cursor: pointer;
}

.menu p {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}

.menu li {
  text-transform: uppercase;
  font-size: 19px;
  margin-top: 25px;
  display: inline-block;
}

.menu li:hover {
  color: rgb(150, 0, 0);
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
}



/* responsif */

@media (max-width: 1024px) {

  .gallery {
    padding: 2vh 0;
  }

  h2 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .gallery {
    flex-direction: column;
  }

  .sidePart {
    width: 90%;
    margin: 0 5%;
    flex-direction: row;
    border: none;
    margin-bottom: 30px;
  }

  ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu {
    text-align: inherit;
    margin: 0;
  }

  li {
    margin-right: 20px;
  }

  .sliderContainer {
    width: 90%;
    margin: 0 auto;
  }

  .card {
    width: 350px;
    height: 80%;
  }
}