@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #0c0c0c;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.no-grayscale {
  filter: none;
  -webkit-filter: none;
  transition: filter 0.3s ease-in-out;
}



/*----------- Header -------------*/

header {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
 /* background: rgba(0, 0, 0, 0.431); */
}

.header-row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo img {
  width: 55px;
}

.menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
}

.fullpage-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  font-family: 'Cinzel', serif;
}

.fullpage-menu-inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 100px 60px;
}

.menu-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu-bg span {
  height: 33.5%;
  width: 100%;
  background: #1b1b1b;
  display: block;
}

nav {
  position: relative;
  z-index: 101;
}

nav li {
  overflow: hidden;
  transition: transform 0.3s ease-in-out 0s;
  -webkit-transition: transform 0.3s ease-in-out 0s;
  -moz-transition: transform 0.3s ease-in-out 0s;
  -ms-transition: transform 0.3s ease-in-out 0s;
  -o-transition: transform 0.3s ease-in-out 0s;
}

nav li+li {
  margin-top: 20px;
}

nav li a {
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
}

nav li:hover {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.header-nav-footer {
  position: absolute;
  z-index: 101;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}

.social-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.social-links li {
  font-size: 26px;
  font-weight: 500;
  text-transform: capitalize;
}

.social-links li+li {
  margin-left: 16px;
}

.social-links a {
  color: #ffffff;
  text-decoration: none;
}


/*----------- Landing -------------*/

#landing {
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 65px;
  text-transform: uppercase;
  color: aliceblue;
  margin-bottom: 30px;
}

.model-class,
.artist-class,
.creatif-class {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.model-class {
  background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
}

.artist-class {
  background-image: linear-gradient(135deg, #65FDF0 10%, #1D6FA3 100%);
}

.creatif-class {
  background-image: linear-gradient(135deg, #FFE985 10%, #FA742B 100%);
}

#landing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#landing p,
.landing-text {
  text-transform: uppercase;
  position: absolute;
  right: 5%;
  font-size: 60px;
  color: aliceblue;
  text-align: left;
  font-family: 'Cinzel', serif;
  z-index: 5;
}

#landing p {
  top: 20%;
  z-index: 5;
}

.landing-text {
  bottom: 20%;
  height: 100px;
  z-index: 5;
}

.landing-text span {
  padding-left: 5px;
}


.splited-name {
  opacity: 0;
}

.splited-title {
  opacity: 0;
}


/*----------- Presentation -------------*/

#presentation {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 20vh;
  background: #0c0c0c;
}

.left-part {
  flex: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.col {
  margin: auto 0;
  height: 100%;
}

.skew-container {
  margin: 0 10px;
  padding-bottom: 10px;
  width: 250px;
}

.skew-container img {
  max-width: 100%;

}

.right-part {
  flex: 1;
  color: aliceblue;
  padding-right: 10%;
  font-size: 30px;
  line-height: 35px;
}

.right-part>div {
  height: 353px;
}

h3 {
  margin-bottom: 20px;
  font-size: 35px;
}

.right-part div {
  opacity: 0;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}



/*----------- Horizontal scroller -------------*/

#gallery {
  width: 100%;
  min-height: 100vh;
  background: #0c0c0c;
  position: relative;
  overflow-x: auto;
  display: flex;
  color: rgb(245, 245, 245);
  padding: 10vh 2vw;
}

.sliderContainer {
  width: 80%;
  height: 90%;
  background: #0c0c0c;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  flex-grow: 1;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
}

.card {
  width: 600px;
  height: 100%;
  background: #0c0c0c;
  margin: 0 15px;
}

.slider img {
  width: 100%;
  height: 99%;
  object-fit: cover;
}

.sidePart {
  width: 300px;
  margin: auto auto;
  display: flex;
  align-items: center;
  border-left: 1px solid #e91e63;
}

.gallery-title-container {
  font-size: 50px;

}

.gallery-title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 100px;
  align-items: center;
}


/*----------- Footer -------------*/

#footer {
  width: 100%;
  min-height:30vh;
  background: rgb(72, 7, 85);
  position: relative;
  background-color: #0c0c0c;
  padding: 70px 0 30px 10px;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.footer-col {
  width: 32%;
  padding: 0 15px;
}

.footer-col ul {
  display: flex;
  flex-direction: column;
}

.footer-col:nth-child(3) {
  width: 36%;
}

.footer-col h4 {
  font-size: 28px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col span {
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 0px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.footer-col span.visible {
  width: 60px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li {
  display: inline-block;
}


.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


/*------------------------------------------*/
/*----------- Responsif design -------------*/
/*------------------------------------------*/

@media (max-width: 1536) {

  /* Presentation */
  .right-part {
    padding-right: 5%;
    font-size: 24px;
  }
}


@media (max-width: 1280px) {

  /* Presentation */
  .right-part {
    padding-right: 2%;
    font-size: 22px;
  }
}


@media (max-width: 1024px) {

  /* Presentation */
  #presentation {
    flex-direction: column-reverse;
  }

  .right-part {
    width: 600px;
    margin: 0 auto;
  }

  .right-part>div {
    height: 300px;
  }

  h3 {
    font-size: 26px;
  }


  /* Slider */
  #gallery {
    flex-direction: column;
  }


  .sidePart {
    margin: 50px 0;
    align-items: left;
  }

  .gallery-title {
    flex-direction: row;
    margin-left: 50px;
  }


  .sliderContainer {
    width: 95%;
    height: 80%;
    margin: 0 auto;
  }


  .card {
    width: 350px;
    height: 100%;
    background: #0c0c0c;
    margin: 0 15px;
  }
}


@media (max-width: 768px) {

  /* Menu */

  .header-nav-footer {
    padding: 30px;
  }

  .fullpage-menu-inner {
    padding: 70px 30px;
  }

  nav li a {
    font-size: 54px;
  }

  .social-links li {
    font-size: 16px;
  }

  /* Landing */
  h1,
  #landing p,
  .typed-text {
    font-size: 52px;
  }
}


@media (max-width: 640px) {

  /* Menu*/
  nav li a {
    font-size: 44px;
  }

  /* Landing */
  h1 {
    font-size: 35px;
  }

  #landing p,
  .typed-text {
    font-size: 42px;
  }


  /* Presentation */
  .right-part {
    width: 350px;
    margin: 0 auto;
  }

  .right-part>div {
    height: 400px;
  }

  .left-part {
    flex-direction: column;
  }

  /* Slider*/
  .sidePart {
    margin: 30px 0;
    align-items: left;
  }

  .gallery-title {
    font-size: 40px;
    margin-left: 40px;
  }



  /* Footer*/
  .row {
    flex-direction: column-reverse;
  }

  .footer-col {
    margin: 20px auto;
    width: 80%;
  }

  .footer-col:nth-child(3) {
    width: 80%;
  }


}